# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# files
/node_modules
/.parcel-cache/
/dist/
/coverage
# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
